.App{
    display: flex;
    justify-content: center;
}
.container{
    width: 100%;
    max-width: 700px;
    margin: auto;
}
.weather{
    margin-top: 5rem;
    background: #fff;
    height: 500px;
    border-radius: 10px;
    padding: 2rem;
}

.content_title{
    padding-top: 3rem;
}